DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=zonafitevolution

PORT=3000
JWT_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=8h
BIOMETRIA_SALT=
TIPO_LECTOR=simulador
